.swiper-pagination-bullet-active {
  width: 35px !important;
}

.swiper-pagination-bullet {
  background-color: #fff;
  width: 12px;
  height: 6px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.swiper-pagination-horizontal {
  text-align: right;
  padding-right: 175px;
  bottom: 60px !important;
  z-index: 20;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .swiper-pagination-horizontal {
    text-align: center;
    padding-right: 0;
    bottom: 40px !important;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .swiper-pagination-horizontal {
    text-align: right;
    padding-right: 130px;
    bottom: 82px !important;
  }
}
